/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *  http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License. 
 */
:root {
  --small-font-size: 13px;
  --selected-cell: rgba(190, 200, 205, 0.3);
}

.boxed-expression-provider {
  background-color: var(--pf-v5-global--BackgroundColor--100);
  font-family: var(--pf-v5-global--FontFamily--sans-serif);
  font-size: var(--pf-v5-global--FontSize--md);
  font-weight: var(--pf-v5-global--FontWeight--normal);
  line-height: var(--pf-v5-global--LineHeight--md);
  text-align: left;
  user-select: none;
  touch-action: none;
  height: 100%;
}
:where(.pf-theme-dark) .boxed-expression-provider {
  background-color: #1e1f22;
}

.boxed-expression-provider *,
.boxed-expression-provider *:after,
.boxed-expression-provider *:before {
  box-sizing: border-box;
}

.boxed-expression-provider a,
.boxed-expression-provider button {
  cursor: pointer;
}

.boxed-expression-provider table {
  border-spacing: 0;
}

.boxed-expression-provider button,
.boxed-expression-provider input,
.boxed-expression-provider optgroup,
.boxed-expression-provider select,
.boxed-expression-provider textarea,
.boxed-expression-provider label {
  font-family: inherit;
  font-size: 100%;
  line-height: var(--pf-v5-global--LineHeight--md);
  color: var(--pf-v5-global--palette--black-200);
}

.boxed-expression-provider blockquote,
.boxed-expression-provider dd,
.boxed-expression-provider dl,
.boxed-expression-provider dt,
.boxed-expression-provider fieldset,
.boxed-expression-provider figure,
.boxed-expression-provider h1,
.boxed-expression-provider h2,
.boxed-expression-provider h3,
.boxed-expression-provider h4,
.boxed-expression-provider h5,
.boxed-expression-provider h6,
.boxed-expression-provider hr,
.boxed-expression-provider iframe,
.boxed-expression-provider legend,
.boxed-expression-provider li,
.boxed-expression-provider ol,
.boxed-expression-provider p,
.boxed-expression-provider pre,
.boxed-expression-provider textarea,
.boxed-expression-provider ul {
  padding: 0;
  margin: 0;
}

.expression-container .expression-info .expression-info-name {
  font-weight: 700;
  color: var(--pf-v5-global--palette--black-600);
  font-family: Menlo, monospace;
  font-size: 0.9em;
}

.expression-container .expression-info .expression-info-data-type {
  font-style: italic;
  font-size: smaller;
  color: #1b515f;
}
/*dx*/
:where(.pf-theme-dark) .expression-container .expression-info .expression-info-name {
  font-weight: 700;
  font-family: Menlo, monospace;

  color: ghostwhite;
}

:where(.pf-theme-dark) .expression-container .expression-info .expression-info-data-type {
  font-style: italic;
  font-size: smaller;
  display: none;
  position: fixed;
  left: 35px;
  bottom: 20px;
}

:where(.pf-theme-dark) .expression-container .expression-info:hover .expression-info-data-type {
  display: block !important;
}

:where(.pf-theme-dark) .pf-c-dropdown__toggle.pf-m-plain:not(.pf-m-text) {
  display: none !important;
}

:where(.pf-theme-dark) body {
  background-color: #1e1f22;
}

/*dx*/

/*dx arrow in expression  */
.expression-arrow {
  position: absolute;
  top: 50%;
  right: 0px;
  /*z-index: 100;*/
}
/*dx*/
:where(.pf-theme-dark) .monaco-editor-background {
  background-color: #1e1f22 !important;
}

/*dx  */
:where(.pf-theme-dark) .invocation-expression .expression-info:first-child {
  text-align: left !important;
  padding-left: 46px;
  font-family: "RedHatText", "Overpass", overpass, helvetica, arial, sans-serif;
  font-size: medium;
}
:where(.pf-theme-dark) .invocation-symbol {
  position: absolute;
  top: 30px;
  left: 16px;
}

:where(.pf-theme-dark) .literal-expression-body-container {
  margin-top: 5px !important;
  border-radius: 5px;
  background-color: var(--pf-v5-global--palette--black-800) !important;
}
/*dx*/

/*monaco editor # num */
:where(.pf-theme-dark) .mtk0 {
  color: #ed05ed;
}
:where(.pf-theme-dark) .mtk1 {
  color: #c6c6c6 !important;
}
:where(.pf-theme-dark) .mtk4 {
  color: #dadada !important;
}
:where(.pf-theme-dark) .mtk5 {
  color: #ffd265 !important;
}
:where(.pf-theme-dark) .mtk6 {
  color: #dc9372 !important;
}
:where(.pf-theme-dark) .mtkb {
  color: #fda581 !important;
}
:where(.pf-theme-dark) .mtk7 {
  color: #50b3fa !important;
  /*display: inline; background-color: #cccccc;*/
  /*border-radius: 4px;*/
  /*padding: 2px;*/
}
:where(.pf-theme-dark) .mtk8 {
  color: #e3e3e3 !important;
}
.dx-col {
  padding: 0.4rem !important;
}
.additional-row-content .dx-col {
  padding: 1.4rem 0.4rem !important;
  font-size: 16px !important;
  font-family: Serif !important;
}
:where(.pf-theme-dark) .additional-row-content .dx-col .mtk5 {
  font-family: sans-serif !important;
}

:where(.pf-theme-dark) .expression-info .pf-u-text-truncate {
  color: var(--pf-v5-global--palette--black-200) !important;
}
:where(.pf-theme-dark) .pf-u-text-truncate .expression-info-data-type {
  display: inline-block !important;
  position: relative !important;
  padding: 0 0.5rem;
  color: var(--pf-v5-global--palette--black-500) !important;
}
:where(.pf-theme-dark) .result-context-1 {
  display: block !important;
  background-color: #666666 !important;
}
:where(.pf-theme-dark) .result-context-2 {
  background-color: red !important;
}
:where(.pf-theme-dark)
  .conditional-expression
  .decision-table-expression
  .table-component
  .data-header-cell
  .context-expression
  .decision-table-expression
  .table-component
  .data-header-cell,
:where(.pf-theme-dark) .context-expression .relation-expression .data-header-cell {
  border-top: 0.2px solid ghostwithe !important;
  /* border-bottom: 0.2px solid #3c3f42 !important;
  border-right: 0.5px solid #3c3f42 !important;
  border-left: 0.5px solid #3c3f42 !important;*/
}

:where(.pf-theme-dark) .conditional-expression .decision-table-expression .table-component .data-cell,
:where(.pf-theme-dark) .context-expression .decision-table-expression .table-component .data-cell,
:where(.pf-theme-dark) .context-expression .relation-expression .table-component .data-cell {
  border-top: 0.2px solid var(--pf-v5-global--palette--black-600) !important;
  /*border-bottom: 0.2px solid var(--pf-v5-global--palette--black-600)!important;*/

  border-left: 0.5px solid var(--pf-v5-global--palette--black-600) !important;
}
.context-expression .decision-table-expression .table-component table tbody td:last-child {
  border-right: 0.5px solid var(--pf-v5-global--palette--black-600) !important;
}
.context-expression .decision-table-expression .table-component table tbody tr:last-child td {
  border-bottom: 0.5px solid var(--pf-v5-global--palette--black-600) !important;
}

.context-expression {
  /*background-color: var(--pf-v5-global--palette--black-900);*/
  padding: 1rem;
  border: 0.5px solid #666666;
  border-radius: 5px;
}
:where(.pf-theme-dark) .context-expression .context-expression {
  background-color: var(--pf-v5-global--palette--black-800);
  border: 0.5px solid var(--pf-v5-global--palette--black-700);
  border-radius: 4px;
  margin: 0.3rem 0;
  padding: 1rem;
}

:where(.pf-theme-dark) .context-expression .context-expression .context-expression {
  padding: 1rem;
  background-color: #1e1f22;
  border: none;
  border-radius: 4px;
  margin: 1rem 0;
}
.context-expression .header-cell {
  text-align: center;
}
.context-expression .context-expression .header-cell {
  font-size: 0.7rem;
}
.pf-v5-c-dropdown {
  display: none !important;
}

.logic-type-selected-header:hover .pf-v5-c-dropdown {
  display: block !important;
}
.logic-type-selected-header:hover .pf-v5-c-dropdown button span {
  color: ghostwhite !important;
}

/* dx*/
.pf-v5-c-menu {
  background-color: var(--pf-v5-global--palette--black-800) !important;
  color: var(--pf-v5-global--palette--black-100) !important;
}
.pf-v5-c-menu__item {
  color: var(--pf-v5-global--palette--black-100) !important;
  font-size: 0.8rem !important;
}
.pf-v5-c-popover {
  background-color: var(--pf-v5-global--palette--black-800) !important;
  border: 1px solid var(--pf-v5-global--palette--black-600) !important;
}
